<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header(${'Create a Post'})">
	<meta charset="UTF-8">
	<title>Create Post</title>
</head>
<body>
<div th:replace="partials/navbar :: navbar"></div>
<div class="container my-4">
<h1 class="d-flex justify-content-center">Create Post</h1>
<form th:action="@{/posts/create}" th:method="POST" th:object="${post}">
	<div class="form-row mt-1">
		<label for="title">Title</label>
		<input class="form-control" id="title" type ="text" th:field="*{title}" placeholder="Enter title">
	</div>
	<div class="form-row mt-1">
		<label for="body">Body</label>
		<textarea class="form-control" id="body" th:field="*{body}" placeholder="Enter body"></textarea>
	</div>
	<button type="submit" class="btn btn-primary form-control mt-3">Create Post</button>
</form>
</div>
<th:block th:replace="partials/scripts :: scripts" />
</body>
</html>