<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header(${'Login Page'})">
	<meta charset="UTF-8">
	<title>Edit Post</title>
</head>
<body>
<div th:replace="partials/navbar :: navbar"></div>
<div class="container my-4">
	<h1 class="d-flex justify-content-center">Edit Post</h1>
	<form th:action="@{'/posts/' + ${post.id} + '/edit'}" th:method="POST" th:object="${post}" >
			<div class="form-row mt-1">
		<label for="title">Title</label>
		<input class="form-control" id="title" type="text" th:field="*{title}" th:value="${post.title}"
		       placeholder="Enter title">
		</div>
		<div class="form-row mt-1">
		<label for="body">Body</label>
		<textarea class="form-control" id="body" type="text" th:field="*{body}" th:value="${post.body}"
		          placeholder="Enter body"></textarea>
		</div>
		<button type="submit" class="btn btn-primary form-control mt-3">Update Post</button>
	</form>
	<form th:action="@{'/posts/' + ${post.id} + '/delete'}" th:method="POST" >
		<button type="submit" class="btn btn-primary form-control mt-3">Delete Post</button>
	</form>
</div>
<th:block th:replace="partials/scripts :: scripts" />
</body>
</html>